@charset "UTF-8";

/*------------------------------------*\
Variables
\*------------------------------------*/
:root {
  --main-color: #222222;
  --accent-color: #2094f3;
  --grey95: #f2f2f2; 
  --grey90: #e5e5e5; 
  --grey80: #cccccc; 
  --grey70: #b3b3b3; 
  --grey60: #999999; 
  --grey50: #808080; 
  --grey40: #666666; 
  --grey30: #4d4d4d;
  --grey20: #333333;
  --black: #000000;
  --white: #ffffff;
  --warning-color: #FB8C00;
}


/*------------------------------------*\
Base
\*------------------------------------*/

body{
  margin: 0; font-family:'Roboto Slab','Roboto', 'Noto Sans TC', Helvetica, Arial, 'Microsoft Yahei','微軟正黑體', 'Microsoft JhengHei', SimSun, STXihei, arial, sans-serif;
  color: var( --main-color ); background-color: var(--grey95); word-wrap: break-word;
}
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
img{ border: 0px; vertical-align: middle; line-height: 0; width: 100%; height: auto; }
input{ -webkit-appearance: none; font-size: 1em; }
input[type="checkbox"] { -webkit-appearance: checkbox; }
textarea:focus, input:focus{ outline: none; }
a { text-decoration: none; }
a:hover,a:focus { text-decoration: none; }

/*------------------------------------*\
Layout
\*------------------------------------*/

main{ padding: 1em 0; }
footer{ text-align: center; font-weight: 100; font-size: .8em; line-height: 3em; color: var( --grey30 ); }

.content_w{ width: 100%; margin: 0 auto; position: relative; background-color: var(--white); box-shadow: 0px 20px 50px var(--grey90); }
.content_w:after{ content: ""; display: block; clear: both; }

@media screen and (max-width: 480px) {
  .content_w{ width: calc( 100% - 1.2em ); }
}
@media screen and (min-width:481px) {
  .content_w{ width: 480px; }
}

/* Form steps ================================= */
.form-step{ position: relative; text-align: center; padding: 1.8em 0; }
.form-step__item{ position: relative; display: inline-block; width: 2em; height: 2em; margin: 0 0.5em; line-height: 2em; border-radius: 50%; background-color: var(--grey90); color: var(--grey40); }
.form-step__item.active{ background-color: var(--accent-color); color: var(--white); }
.form-step__line{ position: absolute; width: 11em; top: 50%; left: 50%; transform: translate(-50%, -50%); border: 1px solid var(--grey90); }


/* Form top ================================= */
.form-top{ padding: 0em 0 1.8em 0; text-align: center; }
.form-top__title{ margin: 0; font-weight: normal; }
.form-top__sub{ margin: 0.5em 0 0 0; color: var(--grey50); }


/* Form ================================= */
form{ margin: 0; padding: 0em 1.2em; }
.form-item{ position: relative; width: 100%; height: 56px; margin: 0 0 2em 0; border: 1px solid var(--grey90); border-radius: 5px; }
.form-item__input{ display: block; width: 100%; height: 100%; padding: 2em 8px 8px 8px; font-size:1em; border:none; background-color: transparent; }
.form-item__label{ position: absolute; top: 50%; left: 8px; transform: translateY(-50%); font-weight: normal; pointer-events: none; color: var(--grey70); transition:0.2s ease all; -moz-transition:0.2s ease all; -webkit-transition:0.2s ease all; }
.form-item__input:focus ~ .form-item__label, .form-item__input:valid ~ .form-item__label{ top: 15px; font-size: 0.7em; color:var(--grey20); }
.form-item__info{ padding-left: 8px; font-size: 0.8em; }

/* bottom bar */
.form-item__bar{ position: relative; display: block; border-radius: 5px; width: 100%; }
.form-item__bar:before, .form-item__bar:after{ content:''; position: absolute; height:2px; width: 0; bottom: 0px; background-color: var(--accent-color); transition: 0.2s ease all; -moz-transition: 0.2s ease all; -webkit-transition: 0.2s ease all; }
.form-item__bar:before { left:50%; }
.form-item__bar:after { right:50%; }

/* active state */
.form-item__input:focus ~ .form-item__bar:before, .form-item__input:focus ~ .form-item__bar:after { width:50%; }


/* warning state */
.warning .form-item__input:valid{ color: var(--warning-color); }
.warning .form-item__bar{ height: 2px; background-color: var(--warning-color); z-index: 2; }
.warning .form-item__bar:before,.warning .form-item__bar:after{ background-color: var(--warning-color); }
.warning .form-item__info{ color: var(--warning-color); }


/* Form bottom ================================= */
.form-bottom{ padding: 0 0 1.8em 0; }
.form-bottom_btn{ width: 100%; height: 56px; line-height: 56px; border-radius: 5px; border: none; background-color: var(--accent-color); color: var(--white); }
.form-bottom_btn:hover{ background-color: var(--grey40); color: var(--white); }









